body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 25px;
  margin-top: 1.5em;
}

.board-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 15px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.highlighted {
  color: blue;
  border-color: blue;
  background: #cce6ff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin-left: 30px;
}

.game-board {
  margin-left: 25px;
  margin-top: 2em;
}

.instructions {
  margin-left: 0.5em;
  margin-top: 1.5em;
  max-width: 10em;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 5px 10px;
}

.unselected {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}

.unselected:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.toggleButton {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 0.5em;
}

.toggleButton:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.toggleButton .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #cccccc;
  color: #666666;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 1em;
}

.toggleButton:hover .tooltiptext {
  visibility: visible;
}